<div class="container">
  <div class="layout body-text-holder">
    <h1 test-id="name">Juko Pappe</h1>
    <h2 class="title" test-id="header">Töö!</h2>
    <p>
      Töö on tehtud nx workspaces!
      Oma teadmiste näitamiseks ngrx'ist kasutasin store ülesehitust, et andmeid kuvada.
      Disainimisel proovisin võimalikult palju kasutada flex kujundust ja lisasin siia ka stiilide library.
      Hetkel on stiilie libraris importitud mõned pildid ja fondid.
    </p>
    <p>
      Lisatud on ka spinner andmete laadimise ajaks.
      Kuna võib juhtuda, et andmete kiire laadimise tõttu ei ole spinner nähtav, siis selliseks juhuks olen lisanud andmete laadimise
      serveri call´idele delay. Seda saab muuta läbi muutuja TEST_SPINNER_WITH_DELAY, mille leiab app.config.ts failist.
      Delay lisasin lihtsalt läbi http get kutsungite külge pannes .pipe(delay(TEST_SPINNER_WITH_DELAY)).
    </p>
    <p>
      Kirjutasin ka mõned unit testid. Need saab jooksutada läbi package.jsoni scriptide.
      Testid lisasin artikli komponendile ja tabeli lehekülje jaotuse komponendile.
    </p>
    <p>
      Seadsin üles ka paar e2e testi cypressiga. Need saab alustada jooksutades cypress open käsklus e2e folderis.
      Testid on kirjutatud chrome browseri jaoks.
    </p>
  </div>
</div>


