<div class="container">
  <div class="layout body-text-holder">
    <h2>Juko Pappe</h2>
    <h1>Proovitöö!</h1>
    <p>
      Proovitöö on tehtud nx workspaces!
      Oma teadmiste näitamiseks ngrx'ist kasutasin store ülesehitust, et andmeid kuvada.
      Disainimisel proovisin võimalikult palju kasutada flex kujundust.
    </p>
    <p>
      Lisatud on ka spinner andmete laadimise ajaks.
      Võib juhtuda, et andmete kiire laadimise tõttu ei ole spinner nähtav, selliseks juhuks olen lisanud andmete laadimise
      serveri call´idele delay võimaluse. Seda saab muuta läbi muutuja TEST_SPINNER_WITH_DELAY, mille leiab app.config.ts failist.
    </p>
  </div>
</div>


