@use "../../../styles";
.header-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 30px;
  padding: .625rem 1.25rem;
}
.logo {
  margin: auto;
  color: styles.$color-link;
  &:hover {
    cursor: pointer;
  }
}
.button {
  border: none;
  background-color: transparent;
  .icon-size {
    font-size: 20px;
  }
  &:hover {
    cursor: pointer;
  }
}