<ng-container *ngIf="articleData | async; let article">
  <h1>{{article?.title}}</h1>
  <div class="body-text-holder" [innerHTML]="article?.intro"></div>
  <div *ngIf="article?.image?.large" class="image-container">
    <div class="image-background">
      <img alt="background-image" class="background-image" [src]="article?.image?.medium">
    </div>
    <div class="image-holder">
      <img alt="article-image" [src]="article?.image?.medium">
    </div>
    <div class="image-title">{{article?.title}}</div>
  </div>
  <div class="body-text-holder" [innerHTML]="article?.body"></div>
  <div class="body-text-holder tags">
    <span class="tag"*ngFor="let tag of article?.tags">{{tag}}</span>
  </div>
</ng-container>

