@use "../../../styles";

:host-context {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.image-container {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 1000px;

  .image-background {
    height: 100%;
    width: 100%;
    overflow: hidden;
    .background-image {
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      filter: blur(.625rem);
    }
  }

  .image-holder {
    position: absolute;
    top: 0;
    left: 15%;
    height: 100%;
    width: 70%;
    transition-property: left, top, height, width;
    transition-duration: 0.3s;
    img {
      height: 100%;
      width: 100%;
    }
    &:hover {
      transition-property: left, top, height, width;
      transition-duration: 0.3s;
      top: -10px;
      left: calc(15% - 10px);
      width: calc(70% + 20px);
      height: calc(100% + 20px);
      bottom: -10px;
    }
  }

  .image-title {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3vw;
    width: 98%;
    background: rgba(0, 0, 0, .5);
    padding-left: 2%;
    font-family: BoosterRegular, sans-serif;
  }

  /* Smaller screen styles */
  @media (max-width: styles.$small-screen-view) {
    .image-title {
      height: 5vw;
    }
  }
  @media (max-width: 760px) {
    .image-title {
      height: 7vw;
    }
  }
}

.tags {
  width: 100%;
  .tag {
    padding: .5rem 1rem;;
    background: styles.$color-tag;
    margin-right: 15px;
    border-radius: 2rem;
    &:last-child {
      margin-right: 0;
    }
  }
}
