@use "../styles";
.layout {
  display: flex;
}
.header {
  display: none;
}
.sidebar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: styles.$sidebar-full-width;
}
.main {
  flex: auto;
  margin-left: styles.$sidebar-full-width;
  background-color: transparent;
  padding: 80px 1.5rem;
}

/* Smaller screen styles */
@media (max-width: styles.$small-screen-view) {
  .layout {
    flex-direction: column;
  }
  .header {
    display: block;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
  }
  .sidebar {
    display: none;
  }
  .main {
    margin-left: 0;
    padding: 7.5rem 1.5rem;
  }
  .floating-layout {
    display: block;
    z-index: 2;
  }
}
