/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";
@font-face {
  font-family: 'BoosterBlack';
  src: url('assets/fonts/BoosterNextFY-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BoosterBold';
  src: url('assets/fonts/BoosterNextFY-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BoosterLight';
  src: url('assets/fonts/BoosterNextFY-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BoosterMedium';
  src: url('assets/fonts/BoosterNextFY-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BoosterRegular';
  src: url('assets/fonts/BoosterNextFY-Regular.woff') format('woff');
}
@font-face {
  font-family: 'BoosterThin';
  src: url('assets/fonts/BoosterNextFY-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$color-dark: #3b3d57;
$color-link: #3a3d57;
$color-hover: #03875c;
$color-white: #ffffff;
$color-black: #333;
$color-tag: #ff57a2;

$sidebar-full-width: 220px;
$sidebar-width: 170px;
$header-height: 50px;
$body-text-margin: 2.5rem 0;
$small-screen-view: 990px;

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;

  background-color: $color-dark;
  height: 100%;
}
app-root {
  display: block;
  height: 100%;
}
h1 {
  font-family: BoosterMedium, sans-serif;
  font-size: 2.8125rem;;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
h2 {
  font-family: BoosterBlack, sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}
.body-text-holder {
  max-width: 1000px;
  p {
    margin: $body-text-margin;
  }
}
.text-holder {
  p {
    margin: 0 0 $body-text-margin;
  }
}

@media (max-width: $small-screen-view) {
  h1 {
    font-size: 2.25rem;
  }
}