/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";
@font-face {
  font-family: 'BoosterBlack';
  src: url('assets/fonts/BoosterNextFY-Black.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BoosterBold';
  src: url('assets/fonts/BoosterNextFY-Bold.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BoosterLight';
  src: url('assets/fonts/BoosterNextFY-Light.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BoosterMedium';
  src: url('assets/fonts/BoosterNextFY-Medium.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BoosterRegular';
  src: url('assets/fonts/BoosterNextFY-Regular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BoosterThin';
  src: url('assets/fonts/BoosterNextFY-Thin.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$color-dark: #3b3d57;
$color-link: #3a3d57;
$color-hover: #03875c;

$sidebar-width: 170px;

body {
  margin: 0;
}
h1 {
  font-family: BlackWoff;
}