<h1>Nimekiri</h1>
<div class="table-container" *ngIf="(tableData | async)?.list as articles">
  <table>
    <thead>
      <tr>
        <th>Eesnimi</th>
        <th>Perekonnanimi</th>
        <th>Sugu</th>
        <th>Sünnikuupäev</th>
        <th>Telefon</th>
      </tr>
    </thead>
    <tbody>
    <!-- Create table rows dynamically based on data input -->
    <tr *ngFor="let article of articles | paginate : paginationIndex">
      <app-table-row [article]="article"></app-table-row>
    </tr>
    </tbody>
  </table>
  <app-paginator
    [paginationIndex]="paginationIndex"
    [numberOfPages]="articles.length / 10"
    (paginateTo)="paginate($event)">
  </app-paginator>
</div>

