<h1>Nimekiri</h1>
<ng-container *ngIf="(tableData | async)?.list as articles">
  <div class="table-container">
    <table>
      <thead>
      <tr>
        <app-table-header (sortEvent)="sortTable($event)"></app-table-header>
      </tr>
      </thead>
      <tbody>
      <!-- Create table rows dynamically based on data input -->
      <ng-container *ngFor="let article of articles | paginate : paginationIndex; let i = index">
        <app-table-row [article]="article" [showArticle]="openArticle === i" (openArticle)="articleOpened(i)"></app-table-row>
      </ng-container>
      </tbody>
    </table>
  </div>
  <app-paginator
    [paginationIndex]="paginationIndex"
    [numberOfPages]="articles.length / 10"
    (paginateTo)="paginate($event)">
  </app-paginator>
</ng-container>


